@model IEnumerable<EmployeeViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employee Information</h1>
<br />
<a class="btn btn-primary" asp-action="Add">Add New Employee</a>
<br />
<br />
@* Apply Search Form *@
    @using(Html.BeginForm())
    {
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" name="searchedName" />
        <button type="submit" class="btn btn-outline-primary" name="searchedName">search</button>
    </div>
}

<br />
<br />
@if (@Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(E => E.Name)</td>
                <td>@Html.DisplayNameFor(E => E.Age)</td>
                <td>@Html.DisplayNameFor(E => E.EmailAdress)</td>
                <td>@Html.DisplayNameFor(E => E.Phone)</td>
                <td>@Html.DisplayNameFor(E => E.Salary)</td>
                <td>@Html.DisplayNameFor(E => E.IsActive)</td>
                <td>@Html.DisplayNameFor(E => E.HireDate)</td>
                <td>@Html.DisplayNameFor(E => E.DepartmentId)</td>
                <td>@Html.DisplayNameFor(E => E.Img)</td>
                <td>Details</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var emp in @Model)
            {
                <tr>
                    <td>@emp.Name</td>
                    <td>@emp.Age</td>
                    <td>@Html.DisplayFor(E => emp.EmailAdress)</td>
                    <td>@emp.Phone</td>
                    <td>@Html.DisplayFor(E => emp.Salary)</td> @* this will show the data based on it's datatype' *@
                    @* <td>@Html.DisplayFor(E => emp.IsActive)</td> *@
                    <td>
                        @if (emp.IsActive == true)
                        {
                            <i class="fa-solid fa-circle" style="color:green"></i>
                        }else
                        {
                            <i class="fa-solid fa-circle" style="color:red"></i>                            
                        }
                    </td>
                    <td>@emp.HireDate</td>
                    <td>@emp.Department.Name</td>
                    <td><img src="/imgs/@emp.Img"style="width:30px" /></td>
                    <partial name="_ButtonPartial" model="@emp.Id" />
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <div style="color:orange">
        <h2>There is No Employee Yet</h2>
    </div>
}

